.rounded {
    border-radius: 0.5rem;
    height: 100%;
    width: 100%;
    overflow: hidden;
    overflow-y: auto;
}

.h2 {
    margin-top: 16px;
    margin-bottom: 16px;
    font-size: 20px;
    font-weight: 700;
    color: #a3a3a3;
}
.content {
    width: 100%;      /* w-full */
    flex: 1;          /* flex-1 */
  }
  