.form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.button {
    border-radius: 6px;
    background-color: #10B981;
    padding: 12px 12px;
    border: 1px solid #ccc;
    font-weight: bold;
    color: black;
    transition: opacity 0.2s ease-in-out;
    cursor: pointer;
    border: 1px solid transparent;
    outline: none;
  }
  
  .button:hover {
    opacity: 0.75;
  }
  
  .button:disabled {
    cursor: not-allowed;
    opacity: 0.5;
  }
  .author {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
  }
  .author p {
    font-size: 14px;
  }